body {
	font-family: 'Roboto', sans-serif;
	width: 1280px;
	height: 1080px;
	margin: 0;
}

* {
	    box-sizing: border-box;
}

hr {
	width: 150px;
}

a {
	text-decoration: none;
}

h3, p {margin: 0}



.blue-green {
	background-color: #007C71;
	color: #fff;
}
.light {
	/*background-color: #198C93;*/
	background-image: linear-gradient(to bottom, #198c94, #198981);
}
.dark {
	background-color: #004B53;
}






/*----------Start Button--------*/

.yellow_button {
	color: #fFEB3B;
	font-size: 24px;
	font-weight: 500;
	border: 3px solid transparent;
    border-radius: 5px;
    border-color: #fFEB3B;
}


.arrow_box {
	position: relative;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: transparent;
	border-right-color: #007C71;
	border-width: 21px;
	margin-top: -21px;
}
.arrow_box:before {
	border-color: transparent;
	border-right-color: #fFEB3B;
	border-width: 25px;
	margin-top: -25px;
	border-radius: 3px;
}

.button {
    background-color: #fff;
    border-radius: 6px;
    color: #004B53;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px -2px rgba(0,75,83,1);
}

.button-doctor {
	width: 370px;
    height: 115px;
    margin: 0 10px;
    border: 0;
   
}

.button__more-doctors {
	width: 317px;
    height: 115px;
    margin: 0 8px;
    background-color: #007C71;
}

.arrow_box__more-doctors {
	position: relative;
	background: #007C71;
	border: 3px solid #fFEB3B;
}
.arrow_box__more-doctors:after, .arrow_box__more-doctors:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box__more-doctors:after {
	border-color: rgba(0, 124, 113, 0);
	border-left-color: #007C71;
	border-width: 53px;
	margin-top: -53px;
}
.arrow_box__more-doctors:before {
	border-color: rgba(255, 235, 59, 0);
	border-left-color: #fFEB3B;
	border-width: 57px;
	margin-top: -57px;
}

.input-footer__button {
	width: 438px;
	height: 110px;
	font-size: 60px;
	padding: 16px 22px 16px 0px;
}

.footer__button-arrow_box {
	position: relative;
}
.footer__button-arrow_box:after {
	left: calc(100% - 2px);
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 55px;
	margin-top: -55px;
}

.therapist-list__button {
	width: 194px;
	height: 237px;
	padding: 38px 0px;
	text-align: center;
	margin-bottom: 21px;
}

/*----------End Button--------*/

/*----------Start Head--------*/
.head-top {
	width: 100%;
	height: 40px;
	background-color: #004B53;
	color: #fff;
}

.head-top__text{
	font-size: 16px;
    padding: 9px 22px;
}
/*----------End Head--------*/


/*----------Start Navigation--------*/
.nav-top {
	height: 84px;
	padding: 13px 30px;
	padding-left: 50px;
	display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-top__container{
	display: flex;
	justify-content: flex-end;
    align-items: center;
}

.nav-top__button {
	width: 113px;
	height: 49px;
}

.button_nav {
	padding: 7px 16px;
	
}

.nav-top__user {
	display: flex;
	align-items: center;
    margin-right: 23px;
}
.nav-top__user img {
	width: 24px;
	height: 23px;
	margin-right: 22px;
}
.nav-top__user-text {
	width: 190px;
	font-size: 21px;
}

.nav-top__doctor {
	font-size: 36px;
	font-weight: 500;
	margin: 0px 37px;
}

.nav-top__therapist {
	padding: 17px 142px;
}
/*----------End Navigation--------*/


/*----------Start Page1--------*/
.instruction-register__data {
	width: 400px;
    height: 1080px;
	background-color: #007D78;
	color: #fff;
	text-align: center;
	padding: 68px 46px;
}

.instruction-register__dash {
	display: flex;
	margin: 16px -31px 13px -35px;
}

.instruction-register__text p{
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 26px;
	margin: 0;
}

.instruction-register__text img {
	width: 152px;
	height: 270px;
}

.instruction-register__img {
	margin: 13px 0px 4px 0px;
}

.instruction-register__button {
	width: 341px;
    height: 58px;
    margin: 51px -14px;
}

.button_page1 {
	padding: 11px 22px;
}

.instruction-register__content {
	width: 880px;
	height: 1080px;
	background-color: #198C93;
	padding: 190px 77px 190px 62px;
}

.instruction-register__top {
    height: 300px;
    padding: 65px;
    width: 100%; 
}

.instruction-register__botton {
	width: 360px;
    height: 300px;
    padding: 59px 30px;
    margin-top: 19px;
}

.instruction-register__headline {
	font-size: 48px;
	font-weight: 500;
	margin: 20px;
	color: #009999;
}

.instruction-register__paragraph {
	font-size: 24px;
	font-weight: 300;
	margin: 0px;
	color: 
}

.instruction-register__botton h3 {
	margin: 0px 10px;
}
/*----------End Page1--------*/





/*----------Start Page2--------*/

.input-center__container {
	height: 793px;
	padding: 46px 67px;
}

.input-center__screen h2 {
	font-size: 39px;
	color: #FFEB3B;
	font-weight: 500;
}

.input-center__screen{
	display: flex;
    flex-direction: column;
}

.input-screen {
	resize: none;
	width: 512px;
	height: 185px;
	background-image: url(img/input_bg.svg);
    font-size: 85px;
    font-family: 'PT Mono', monospace;
    color: #fff;
    background-color: #ccc;
    letter-spacing: 13px;
}

.input-screen::selection { 
	background: 
	#FDC8CB; 
}

.input-screen__img {
	width: 344px;
	height: 283px;
	margin: 48px 74px;
}

.input-center__keypad {
	width: 450px;
	height: 602px;
	margin: 31px 41px;
}

.input-keypad__line{
	margin: 12px 0;
    height: calc(25% - 10px);
}
.input-keypad__line:first-child{
	margin-top: 0;
}

.input-keypad__line:last-child{
	margin-bottom: 0;
}

.input-keypad__line button {
	width: calc(33.3% - 10px);
	height: 100%;
	margin: 0 5px;
	border:0;
}

.input-keypad__line button:first-child {
	margin-left: 0;
}
.input-keypad__line button:last-child {
	margin-right: 0;
}

.input-keypad__line button.input-keypad__big {
	    width: calc(66.6% - 5px);
}

.input-keypad__big img{
	height: 32%;
	margin: 48px 114px 48px 106px;
}

.input-keypad__button-text {
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
}

.input-footer {
	height: 163px;
	padding: 27px 121px;
}


/*----------End Page2--------*/


/*----------Start Page3--------*/
.specialties__container{
	width: 100%;
	height: 1040px;
}

.specialties-profession__container{
	padding: 4px 65px 80px;
}

.specialties-profession__container h3{
	font-size: 36px;
    color: yellow;
    margin: 14px;
    text-align: center;
}

.specialties-profession__doctor {
	width: 1150px;
	height: 787.5px;
	margin: 24px 0;
}

.specialties-profession__line{
	margin: 20px 0;
	display: flex;
    align-items: baseline;
}
.specialties-profession__line:first-child{
	margin-top: 0;
}

.specialties-profession__line:last-child{
	margin-bottom: 0;
}

.specialties-profession__line div {
	width: calc(33.3% - 20px);
	height: 100%;
	margin: 0 20px;
	border:0;
}

/*.specialties-profession__line div:first-child {
	margin-left: 0;
}
.specialties-profession__line div:last-child {
	margin-right: 0;
}*/

.specialties-profession__line div .input-keypad__big {
	width: calc(66.6% - 5px);
}

.specialties-profession__button-text {
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}


.specialties-profession__line button:first-child {
    margin-left: 0;
}

.specialties-profession__line button:last-child {
    margin-right: 0;
}

/*----------End Page3--------*/


/*----------Start Page4--------*/

.therapist-list__container {
	height: 906px;
	padding: 20px;
	padding: 18px 28px;
}


.therapist-list__table {
	width: 1012.6px;
	height: 886px;
	overflow: hidden;
}

.table-therapist {
	width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 21px;
}

.table-top {
	color: #fff;
	font-size: 18px;
}

.therapist-table__line {
	color: #004B53;
}

.therapist-table__line tr {
	height: 87px;
	border-top: 3px solid #198C93;
}

.therapist-table__line td, th {
    padding: .75rem;  
    border: 0;
}

.therapist-table__line p{
	width: 175px;
    padding: 4px;
    margin: 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    margin: 4px 11px;
    background-color: #fFEB3B;
    color: #000;
    line-height: 9px;
}

.therapist-table__doctor {
	background-color: #64FFDA;
}

.therapist-list__button span {
	color: #fff;
}


.therapist-list__help {
	margin: 46px -3px;
}

.therapist-list__footer {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;

}

/*----------End Page4--------*/


/*----------Start Page5--------*/

.therapist-calendar__container {
	color: #004B53;
}

.therapist-calendar__week {
	padding: 15px 52px;
}

.therapist-calendar__week-text {
	color: #fff;
}

.therapist-calendar__week-line {
	display: -webkit-inline-box;
    margin: 7px 81px;
}

.therapist-calendar__weekday, .therapist-calendar__month {
	font-size: 14px;
	/*margin: 10px;*/
	/*padding: 11px;*/
}

.therapist-calendar__day {
	font-size: 48px;
	font-weight: 500;
	line-height: 45px;
}

.therapist-calendar__block {
	display: flex;
    justify-content: flex-end;
    flex-direction: column;

    padding-bottom: 14px;
	width: 102px;
	height: 102px;
	
	border: 1px solid #198C93;
	text-align: center;
	background-color: #64FFDA;
}

.therapist-calendar__weekday{
	display: none;
}

.therapist-calendar__block.__show-weekday .therapist-calendar__weekday{
	display: block;
}

.therapist-calendar__clock {
	display: flex;
    flex-wrap: wrap;
    align-content: start;
    margin: 0 auto;
    width: 1225px;
    /* min-height: 610px; */
    height: 691px;
    overflow: hidden;
    padding-bottom: 78px;
}

.therapist-calendar__clock .therapist-calendar__block{
	justify-content: center;
	padding-bottom: 0;
}

.therapist-calendar__tima {
	font-size: 28px;
}

.therapist-calendar__comment{
	font-size: 18px;
    display: flex;
    color: #fff;
    height: 45px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0 37px;
    margin-bottom: 8px;
}

.therapist-calendar__comment img {
	width: 25px;
	height:25px;
	margin-right: 15px;
}
.therapist-calendar__comment-label{
	color: #E8E143;
}

.therapist-calendar__comment-text {
	font-style: italic;
	padding-left: 4px;
}

.therapist-list__footer-button {
	width: 206px;
	height: 100%;
	padding: 16px;
	text-align: center;
    background-color: #00BFA5;
    margin: 0 1px;
}

.therapist-list__footer-button img {
	width: 22px;
	height: 16px;
}

.therapist-calendar__block._comment  {
    background-image: url(img/comment2.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: top right;
}

/*----------End Page5--------*/

._disabled {
	background-color: #FFCCBC;
	color: #C7A49A;
}

._right {
	float: right;
}

._left {
	float: left;
}